# Ignorar dependencias de Composer
htdocs/vendor/
vendor
credenciales.json
Basura/

# Ignorar archivos con contraseñas (¡Súper importante!)
htdocs/.env
htdocs/credenciales.json
*.log

htdocs/.htaccess
