:root {
  --color-primario: #00000062;
  --color-secundario: #52073a;
  --color-acento: #e67e22; /* El naranja de tu logo */
  --ancho-sidebar: 260px;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f4f7f6;
  height:100%;
}

.barra-lateral {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--ancho-sidebar);
  height: 100vh;
  background-color: var(--color-secundario);
  color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 10px rgba(0,0,0,0.3);
}

.contenedor-logo {

  text-align: center;
  border-bottom: 1px solid  #ffffff85;

}

.logo-sidebar {
  width: 70%;


}

.menu-navegacion {
  list-style: none;
  padding: 10px 0;
  margin: 0;
  flex-grow: 1; 
}

.menu-navegacion li a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 30px;
  color: #adb5bd;
  text-decoration: none;
  transition: all 0.3s;
}

.menu-navegacion li a i {
  width: 20px;
  font-size: 1.1rem;
}

.menu-navegacion li a:hover, 
.menu-navegacion li a.activo {
  color: white;
  background-color: var(--color-primario);
  border-left: 5px solid var(--color-acento);
}

.seccion-inferior {
  padding: 20px;
  border-top: 1px solid #ffffff85;
}

.boton-salir {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ff4d4d;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: bold;
}

.boton-salir:hover {
  background-color: rgba(255, 77, 77, 0.1);
  border-radius: 8px;
}
.contenido-principal h1{
    color: var(--color-secundario);
    font-size: 2.5rem;
}


.contenido-principal {
  margin-left: var(--ancho-sidebar);
  padding: 40px;
}
.flex-form-ayuda {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}
.campos-principales {
    flex: 1.5;
}
.guia-url {
    flex: 1;
    background: #fff3cd;
    border-left: 5px solid #ffc107;
    padding: 15px;
    border-radius: 8px;
    font-size: 0.85em;
    color: #856404;
}
.guia-url code {
    display: block;
    background: #fff;
    padding: 5px;
    margin-top: 5px;
    border-radius: 4px;
    font-weight: bold;
    color: #52073a;
}
/* Responsive: si la pantalla es pequeña, la fila se vuelve columna */
@media (max-width: 600px) {
    .fila-input {
        flex-direction: column;
        gap: 0;
    }
}
@keyframes slideIn {
    from { opacity: 0; transform: translateX(-10px); }
    to { opacity: 1; transform: translateX(0); }
}
@media (max-width: 768px) {
  .barra-lateral {
    width: 70px; 
  }
  .barra-lateral a span, .contenedor-logo, .boton-salir {
    display: none; 
  }
  .contenido-principal {
    margin-left: 70px;
  }
}