:root {
  --naranja-principal: #e17203; 
    --purpura-oscuro: #52073a;    
    --blanco-puro: #FFFFFF;      
    --negro-texto: #000000;       
    --gris-suave: #656464b2;        
    --fondo-minimalista: rgba(224, 224, 224, 0.562); 
}
h1{
    color: var(--naranja-principal);
    margin:-10px;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--fondo-minimalista);
    margin: 0;
}

.main-container {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    background: #fff;
    margin: 100px auto 80px auto; 
    width: 80%;
    max-width: 1200px;
    min-height: 500px; 
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.288);
}

.boton-submit{
    background-color:#52073a;
     color: white;
      cursor: pointer; 
      margin-top:-50px;
}
.boton-submit:hover{
    background-color:#000000;
     color: white;
      cursor: pointer; 
      margin-top:-50px;
}

.form-section {
    padding: 40px;
}

.logo-box {
    text-align: center;
    margin-bottom: 30px;
}

.logo-box img {
    max-width: 100px;
    height: auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
    color: var(--purpura-oscuro);
}


input, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #cbd5e1;
    border-radius: 8px;
    font-size: 1rem;
    box-sizing: border-box;
}

button {
    background: var(--primary);
    color: white;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: var(--accent);
}

.info-section {
    background: var(--naranja-principal);
    color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.map-container {
    width: 100%;
    height: 250px;
    border-radius: 12px;
    overflow: hidden;
    margin: 20px 0;
}


.info-section {
    position: relative; 
    padding-bottom: 60px; 
}

.social-icons {
    position: absolute;
    top: 420px; 
  right:100px;
    display: flex;
    gap: 15px;
    background: white; 
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    z-index: 10; 
}

.social-icons a {
    text-decoration: none;
    transition: transform 0.3s ease;
}

.social-icons i {
    font-size: 28px;
    color: #52073a; 
    display: block;
}


.social-icons a:hover {
    transform: translateY(-5px);
}

.fa-square-whatsapp:hover { color: #25D366; }
.fa-square-instagram:hover { color: #E1306C; }
.fa-square-facebook:hover { color: #1877F2; }
.fa-tiktok:hover { color: #000000; }
.fa-square-youtube:hover { color: #FF0000; }


@media (max-width: 768px) {
    .social-icons {
        position: static; 
        margin: 20px auto;
        justify-content: center;
        box-shadow: none;
    }
}

@media (max-width: 768px) {
    .main-container { grid-template-columns: 1fr; }
}