* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

:root {
    --naranja-principal: #e17203;
    --purpura-oscuro: #52073a;
    --blanco: #FFFFFF;
    --negro-texto: #000000;
}



.imagen-principal {
    position: relative; /* clave */
    width: 100%;
    height: 80vh;
   
    margin-bottom: -20px;
}

.img-p {
    width: 100%;
    height: 97%;
    object-fit: cover; /* evita que se deforme */
}

.contenido-imagen {
    position: absolute; /* lo saca del flujo */
    top: 50%;
    left: 63%;
    transform: translate(-50%, -50%); /* lo centra */
    color: white;
    text-align: center;
}
h1{
    margin-top:15%;
    font-size: 2.8rem;
    margin-bottom: 10px;
    font-weight: 900;
}
h2{
       font-size: 2.3rem;
    font-weight: 400;
 
}
p{
    margin-top:20px;
    color:#fffcd4;
      font-size: 1.3rem;
      margin-right:40%;
      font-weight: 700;
}
.boton-servicio{

width:150px;
height:35px;
border-radius: 15px;
border:none;
margin:10px;
transition: transform 0.3s ease;
}


    
.boton-servicio:hover{
    transform: scale(1.1);
}
.link-info{
margin-left:20px;
transition: transform 0.3s ease;
}

.link-info:hover{
    transform: scale(1.1);
}
a{
    text-decoration: none;
    color:#FFFFFF;
}

    .contenedor-servicios {
       top:0;
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
        padding: 40px;
        background-color: #f7f7f7;
        
    }

.card-servicio {
    position: relative;
    width: 300px;
    max-height: 480px;
    border-radius: 12px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.397);

    display: flex;
    flex-direction: column;

    transition: 
        max-height 0.7s cubic-bezier(0.25, 0.8, 0.25, 1),
        transform 0.4s ease,
        box-shadow 0.4s ease;
}

.card-servicio:hover {
    max-height: 650px;
    transform: translateY(-3px); /* menos movimiento = más elegante */
    box-shadow: 0 18px 35px rgba(0, 0, 0, 0.35);
}

    .imagen-url {
      width: 300px;
        height: 300px; 
        display: block;
    }

    /* Contenedor de Título y Precio (Siempre visible abajo) */
    .info-basica {
         position: relative; /* 👈 esto es lo que te falta */
        padding: 14px 16px 6px;
    background: #fff;
    z-index: 2;
      
        
    }

    .info-basica h3 { 
        margin: 0; 
        font-size: 1.2rem; 
        color: #383838; 
      
    }

    .info-basica .precio { 
        display: block;
        font-size: 1.1rem;
        font-weight: bold; 
        color: #f78605; /* Color distintivo para el precio */
        margin-top: 5px;
    }

.overlay-descripcion {
    padding: 0 16px 16px;
    background: #fff;
    color: #555;
    opacity: 0;
    transform: translateY(10px);
    transition: 
        opacity 0.5s ease 0.2s,
        transform 0.5s ease 0.2s,
        padding 0.4s ease;

}
.card-servicio:hover .overlay-descripcion {
    opacity: 1;
    transform: translateY(0);
      padding: 10px 16px 16px;

    border-top: 2px solid #66666686;
}

.overlay-descripcion h3 {
    /* puedes quitarlo si prefieres no repetir el título */
    display: none;
}

.overlay-descripcion p {
    font-size: 0.85rem;
    line-height: 1.6;
    margin: 0;
    color: #555;
    text-align: left;
}

    .overlay-descripcion h4 {
        color: #ffc18f;
        margin-bottom: 15px;
        border-bottom: 1px solid #334155;
        padding-bottom: 5px;
        font-size: 1rem;
    }

  
    /*servicios */
   .buscador-oculto {
    display: flex; /* Cambiamos a flex permanentemente */
    flex-direction: column;
    align-items: center;
    
    background: rgb(236, 235, 235);
    width: 100%;
    height: 80%;
    padding: 20px;
    position: absolute;
    top: 70px;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    /* --- ESTADO INICIAL (Oculto arriba) --- */
    opacity: 0;
    visibility: hidden;
    transform: translateY(-80px); /* Empieza 20px más arriba */
    transition: all 0.3s ease-out; /* Controla la velocidad aquí */
}

/* --- ESTADO ACTIVO (Cuando se muestra) --- */
.buscador-oculto.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0); /* Baja a su posición original */
}

#inputBuscador {
    width: 70%;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #dfdfdf;
    outline: none;
    margin-bottom: 10px;
}
#inputBuscador:focus{
     outline: 3px solid #ff6811;

}
.resultado-item {
    padding: 10px;
    margin-bottom: 15px;
     color:#616161;
     font-size: 1.2rem;;
    border-bottom: 2px solid #7574747a;
    cursor: pointer;
    width: 900px;
   

}

.resultado-item:hover {
    background: #acacac49;
    transform: scale(1.1);
    transition: all 0.3 ease-out;
     border-radius: 5px;
      color:#202020;
     font-size: 1.3rem;;
    border-bottom: 2px solid #242424f1;
}
.resultado-item:active {
    background: #ff4107ad;
    transform: scale(1.0);
    transition: all 0.3 ease-out;
     border-radius: 5px;
      color:#ffffff;
     font-size: 1.3rem;;
    border-bottom: 2px solid #fffffff1;
}
/*Modal*/
.modal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
}

.modal-contenido {
    background: white;
    margin: 10% auto;
    padding: 20px;
    width: 60%;
    border-radius: 10px;
}

.cerrar {
    float: right;
    font-size: 25px;
    cursor: pointer;
}
/*carousel*/
.carousel-container {
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
   
}

.carousel-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: ease-in-out, transform 1.2s ease-in-out;
    transform: scale(1.05);
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-slide.active {
    opacity: 1;
    transform: scale(1);
    z-index: 1;
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}
.codigo-tag {
    display: inline-block;
    background-color: #f0f0f0;
    color: #666;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 0.75rem;
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: uppercase;
    border: 1px solid #ddd;
}

.info-basica h3 {
    margin-top: 2px; /* Ajusta el espacio entre el código y el título */
}



.card-servicio:hover {
    transform: translateY(-5px);
}

.btn-ver-mas {
  
    align-items: right;
    gap: 6px;

    padding: 6px 12px;
    font-size: 13px;
    font-weight: 500;

    color: #555;
    background: transparent;
    border: 1px solid rgba(0,0,0,0.1);


    cursor: pointer;
    transition: all 0.25s ease;
}

/* Ícono */
.btn-ver-mas i {
    font-size: 12px;
    transition: transform 0.25s ease;
}

/* Hover */
.btn-ver-mas:hover {
    color:#ff6811;; /* puedes cambiar a tu paleta */
    border-color: #ff6811;

}

/* Movimiento del ícono */
.btn-ver-mas:hover i {
    transform: translateX(4px);
}
.overlay-descripcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}