* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

:root {
    --naranja-principal: #e17203;
    --purpura-oscuro: #52073a;
    --blanco: #FFFFFF;
    --negro-texto: #000000;
}
.fa-solid.fa-magnifying-glass , .fa-solid.fa-calendar{
    font-size: 20px;

}


.barra-herramientas {
    background-color: var(--blanco);
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    z-index: 1000;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    
}

.logo-superior {
    height: 40px;
    width: auto;
}

.lista-opciones {
    display: flex;
    list-style: none;
    gap: 30px;
}
.lista-opciones-serv{
    display: flex;
    list-style: none;
    gap: 20px;
}

.enlace-opcion {
    text-decoration: none;
    color: var(--negro-texto);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.3s;
}

.enlace-opcion:hover {
    color: var(--naranja-principal);
}
.enlace-opcion-serv {
    text-decoration: none;
    color: var(--negro-texto);
    font-size: 17px;
    font-weight: 500;
    transition: 0.3s;
}

.enlace-opcion-serv:hover , .enlace-opcion-serv:active{
    color: var(--naranja-principal);
    text-decoration: underline;
}

.boton-subrayado {
    color: var(--purpura-oscuro);
    border-bottom: 2px solid var(--naranja-principal);
}
.item-servicio {
    position: relative;
}

/* PANEL OCULTO */
.submenu-servicios {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);

    display: flex;
gap:6px;
    flex-wrap: wrap;

    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;

    transition: all 0.3s ease;
}

/* BOTONES */
.submenu-servicios a {
    padding: 8px 12px;
    text-decoration: none;
    font-size: 13px;
    transition: 0.2s;
    margin-left:5px;
    color:#000000;
}

.submenu-servicios a:hover {
   color: var(--naranja-principal);
    text-decoration: underline;
    color: var(--naranja-principal);
}

/* ACTIVAR HOVER */
.item-servicio:hover .submenu-servicios {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}