* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

:root {
    --naranja-principal: #e17203;
    --purpura-oscuro: #52073a;
    --blanco: #FFFFFF;
    --negro-texto: #000000;
}
.fa-solid.fa-magnifying-glass , .fa-solid.fa-calendar{
    font-size: 20px;

}


.barra-herramientas {
    background-color: var(--blanco);
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    z-index: 1000;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.logo-superior {
    height: 40px;
    width: auto;
}

.lista-opciones {
    display: flex;
    list-style: none;
    gap: 30px;
}
.lista-opciones-serv{
    display: flex;
    list-style: none;
    gap: 20px;
}

.enlace-opcion {
    text-decoration: none;
    color: var(--negro-texto);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.3s;
}

.enlace-opcion:hover {
    color: var(--naranja-principal);
}
.enlace-opcion-serv {
    text-decoration: none;
    color: var(--negro-texto);
    font-size: 17px;
    font-weight: 500;
   
    transition: 0.3s;
}

.enlace-opcion-serv:hover , .enlace-opcion-serv:active{
    color: var(--naranja-principal);
    text-decoration: underline;
}

.boton-inicio {
    color: var(--purpura-oscuro);
    border-bottom: 2px solid var(--naranja-principal);
}