    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
    }

    body {
        line-height: 1.6;
        background-color: #f4f4f4;
    }

    header {
        background: #f3f0fcbb;
        color: #030303;
        padding: 1rem;
        display: flex;
        justify-content: flex-end; 
        align-items: center;
        position: absolute; 
        width: 100%;
        height: 70px;
        top: 0;
        right: 0;
        z-index: 1000;
        
    }

    nav ul {
        display: flex;
        list-style: none;
    }


/* Quita el espacio entre el 'a' y el '.' */
nav a{
    text-decoration: none;
    color: inherit;
}
    

    .fondo {
        width: 100%;
        height: calc(100vh - 70px); 
        margin-top: 70px; 
        background-image: url('img/fondoIndex.png'); 
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contenedor {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 20px;
        width: 50%;
        margin: 40px auto; 
    }
 /* Sin espacios antes de los dos puntos */
.nav-link:hover, 
.nav-link-P:hover {
    transform: scale(0.95); /* Ejemplo: se encoge un poco al hacer clic */
    
}
    .nav-link {
        background-color: #ffffff00;
        border: 1px solid #c77100;
        color:#e06c00;
        margin-left: 30px;
        text-decoration: none;
        font-weight: bold;
        padding: 5px 10px;
        transition: background-color 0.3s ease;
        border-radius: 15px;
    }
     .nav-link-P {
        background-color: #e06c00;
       color: #f4f4f4;
        margin-left: 30px;
        text-decoration: none;
        font-weight: bold;
        padding: 5px 10px;
        transition: background-color 0.3s ease;
        border-radius: 15px;
    }
    .info{
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.425);
    width:100%;
    height:60vh;
    padding: 20px;
    }

    .caja {
        background: white;
        padding: 20px;
        border-radius: 8px;
        flex: 1 1 calc(33.333% - 20px); 
        min-width: 300px; 
    }

    @media (max-width: 768px) {
        header {
            flex-direction: column;
            text-align: center;
            height: auto;
        }

        nav ul {
            margin-top: 15px;
        }

        nav ul li {
            margin: 0 10px;
        }

        .caja {
            flex: 1 1 100%;
        }
    }